* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


.field {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  padding: 5px 5px;
}

.field:not(:last-child) {
  margin-right: 15px;
}

.value {
  font-size: 28px;
  font-weight: 500;
  
}

.label {
  font-style: 28px;
  font-weight: 500;
}